.clean_button{
    height: 20px;
    font-size: 1.6em;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    flex: 1 1;
    background: #ac0246;
    margin-top: 8px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight: bold;
    border: solid 2px whitesmoke;
    border-radius: 5px;
    box-shadow: -1px 4px 1px 1px black;
}

.clean_button:hover{
    height: 20px;
    font-size: 1.6em;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    flex: 1 1;
    background: aliceblue;  
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    color: #1b1b32;
    font-weight: bold;
    border: solid 2px #1b1b32;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}