.delete_button{
    height: 20px;
    width: 100px;
    font-size: 1.6em;
    padding: 5px;
    display: flex;
    background: #ac0246;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight: bold;
    border: solid 2px whitesmoke;
    border-radius: 5px;
    box-shadow: -1px 4px 1px 1px black;
}

.delete_button:hover{
    height: 20px;
    width: 100px;
    font-size: 1.6em;
    padding: 5px;
    display: flex;
    background: aliceblue;  
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: #1b1b32;
    font-weight: bold;
    border: solid 2px #1b1b32;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}