body {
  background: #1b1b32;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: fixed;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
   padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content:center ;
  align-items: center; 
}

.title{
  color: azure;
  /* padding-top: 1rem; */
  margin: auto;
}

.container_calculator {
  width: 400px;
  height: 600px;
  padding: 14px;
  background: #99c9ff;
  border-radius: 5px;
  border: 5px solid white;
}